<style>
		/// Overwrite CSS variable
    :root {
        --article-line-height: "1.25"
		}
</style>

<style>
		/// Overwrite CSS variable
    :root {
        --accent-color: #34628f;
		}
</style>
	


<style>
		/// Overwrite CSS variable
    :root {
       --accent-color-text: #363d46;
		}
</style>

<style>
		/// Overwrite CSS variable
    :root {
		--card-background-selected: #eaeaea;

		--card-text-color-main: #747474;
		--card-text-color-secondary: #747474;
		--card-text-color-tertiary: #aaaa;
		--card-separator-color: rgba(218, 218, 218, 0.5);

    --card-border-radius: 50px;

    --card-padding: 30px;
</style>

<style>
		/// Overwrite CSS variable
    :root {
        --article-font-family: "Comfortaa", var(--base-font-family);
    }
</style>

<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>

<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>


<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>


<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swa";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>


<style>
		/// Overwrite CSS variable
    :root {
       --base-font-family: "Bitter", var(--sys-font-family), var(--zh-font-family);
    }
</style>

<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>

